body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    color: #fff;
    background-color: black;
    line-height: 1.6;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

#video-background {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.banner {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-image: radial-gradient(54.97% 272.54% at 272.54% -134.72%, rgba(108, 148, 255, .92) 0, rgba(0, 0, 0, .92) 100%);
    transition: 54.97% .5s ease-out, 272.54% .5s ease-out, 27.36% .5s ease-out, -134.72% .5s ease-out;
    height: 52px;

}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    height: 56px;
}

.logo {
    width: 120px;
}

.menu {
    display: flex;
}

.menu-item {
    list-style-type: none;
    padding: 8px 16px;
}

.menu-item-link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.side-menu>i {
    padding: 8px 4px;
    font-size: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 82vh;
}

.title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 16px;
}

.bottom-container {
    display: flex;
    flex-direction: column;
}

.spacer {
    flex-grow: 1;
}

.specs {
    display: flex;
    justify-content: center;
}

.spec {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    padding: 20px;
    height: 72px;
    text-align: center;
}

.cta-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.btn {
    width: 235px;
    height: 40px;
}

.primary-btn {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.outline-btn {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.outline-btn:hover {
    background-color: #ffffff;
}

.primary-btn:hover {
    background-color: #b1b1b1;
    color: #000000
}

.car-header {
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
}

.car-model {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

.car-price {
    font-size: 17px;
    font-weight: 600;
}

h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

p {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}

.chat {
    position: fixed;
    width: 52px;
    height: 40px;
    border-radius: 4px;
    background-color: #393c41;
    bottom: 0;
    right: 0;
    margin-right: 32px;
    margin-bottom: 32px;
}

.bubble-icon {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px 
}

.section {
    margin-top: 32px;
}

.section-img {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.section-title-wrapper {
    display: flex;
    justify-content: center;
}

.section-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    width: 45%;
}

.section-title {
    font-size: 24px;
}

.section-description {
    margin-top: 20px;
}

.hero::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
    